.logo {
  width: 181.603px;
  height: 60px;
  flex-shrink: 0;
}

/* ================= Tablet (745px ~ 1200px) ================= */
@media (max-width: 1200px) and (min-width: 745px) {
  .logo {
    width: 181.603px;
    height: 60px;
  }
}

/* ================= Mobile (≤744px) ================= */
@media (max-width: 744px) {
  .logo {
    width: 106px;
    height: 35.021px;
  }
}
