.habitWeekly {
  max-width: 1072px;
  width: 100%;
}

.week {
  display: flex;
  justify-content: center;
  color: var(--gray-818181);
  font: var(--font-18-regular);
  height: 26px;
}

.weeklyGoals {
  display: flex;
  justify-content: center;
  height: 64px;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;

  color: var(--black-414141);
  font: var(--font-18-bold);
  text-align: right;

  width: 20%;
  /* width: 246px; */
  padding: 0 24px;
}

.todoWeek {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.todoSticker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
}

/* Tablet */
@media (max-width: 1199px) {
  .todo {
    width: 160px;
    font: var(--font-16-bold);
  }
  .todoSticker {
    width: 64px;
  }
}

/* Mobile */
@media (max-width: 744px) {
}
