.editCompleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  width: 288px;
  height: 58px;
  padding: 10px;
  border-radius: 16px;
  background: var(--brand-99C08E);

  color: var(--white);
  text-align: center;
  font-family: var(--font-family-jeju);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
}

/* ================= Mobile (≤375px) ================= */
@media (max-width: 375px) {
  .editCompleteBtn {
    width: 140px;
    height: 58px;
    padding: 10px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: var(--white);
    text-align: center;
    font-family: var(--font-family-jeju);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
