.fadeToast{
    opacity: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: toastFade 2s ease-in-out forwards;
}

@keyframes toastFade {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}
