.moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 17px 119px;

  border-radius: 20px;
  border: 1px solid var(--gray-DDDDDD);
  background: var(--white);

  color: var(--green-text-578246);
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  box-sizing: border-box;
}
