.plusBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  width: clamp(312px, 80vw, 400px); /* 450px 이상부터 400px 고정, 450px ~ 375px 줄어듦 */
  height: 54px;
  border-radius: 20px;
  border: 2px solid var(--black-414141);
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모바일 고정 (≤375px) */
@media (max-width: 375px) {
  .plusBtn {
    width: 312px; /* 고정 */
    height: 54px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
