.textBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 1;

  max-width: 600px;   /* PC 기본 */
  width: 100%;
  height: 55px;
  border-radius: 16px;

  color: var(--white);
  font-family: var(--font-family-jeju);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
}

.green{
  background: var(--brand-99C08E);
}
.gray {
  background: var(--gray-DDDDDD);
}

/* ================= Tablet (1200px ~ 744px) ================= */
@media (max-width: 1200px) {
  .textBtn {
    width: 288px;
    height: 55px;
  }
}

/* ================= Mobile (≤744px) ================= */
@media (max-width: 744px) {
  .textBtn {
    width: 140px;
    height: 58px;
    gap: 8px;
    font-size: 18px;
  }
}
