.segment{
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0;

    text-align: center;

    color: var(--black-414141);
    font: var(--font-150-bold);

    margin: 0 auto;
}

.segment span{
    text-align: center; 
    line-height: 1;
}

.digit{
    width: 200px;
    height: fit-content;
    text-align: center;

    color: inherit;
    font: inherit;

    border: none;
    flex-flow: hide;

    border-radius: 20px;
}

.digit::placeholder{
    color: inherit;
}

.colon{  
    position: relative;
    bottom: 58%;
    transform: translateX(50%); 
    transform: translateY(50%);     
}   

/* tablet */
@media (max-width: 1200px){
    .segment {
        font: var(--font-120-bold);
    }

    .digit{
        width: 160px;
    }
}

/* mobile */
@media (max-width: 744px){
    .segment {
        font: var(--font-80-bold);
    }

    .digit{
        width: 110px;
    }
}