.sortWrapper {
  position: relative;
  width: 180px;
  font-family: var(--font-family);
  background: var(--white);
}

/* 버튼 */
.sortBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 9px 20px;
  box-sizing: border-box;

  border-radius: 15px;
  border: 1px solid var(--gray-DDDDDD);
  background: var(--white);
  color: var(--gray-818181);
  font: var(--font-16-regular);

  cursor: pointer;
}

/* 화살표 아이콘 */
.sortIcon {
  width: 16px;
  height: 16px;
  fill: var(--gray-818181);
}

/* 드롭다운 옵션 전체 박스 */
.sortOptions {
  position: absolute;
  top: calc(100% + 8px); /* 버튼 아래 8px 간격 */
  width: 100%;
  background: var(--white);
  z-index: 10;
  overflow: hidden;
  border: 1px solid var(--gray-DDDDDD);
  border-radius: 15px;
}

/* 모바일 전용: 드롭다운 width 조정 */
@media (max-width: 375px) {
  .sortOptions {
    width: 150px;
  }
}

/* 개별 옵션 */
.sortOption {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: var(--black-414141);
  font: var(--font-16-regular);
  text-align: center;
  background: var(--white);

  border-top: 1px solid var(--gray-DDDDDD);
}

/* 첫 번째 옵션 상단 둥근 모서리, border-top 제거 */
.first {
  border-top: none;
  border-radius: 15px 15px 0 0;
}

/* 마지막 옵션 하단 둥근 모서리 */
.last {
  border-radius: 0 0 15px 15px;
}

/* Hover 효과 */
.sortOption:hover {
  background: var(--gray-EEEEEE);
}
