.studyDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  color: var(--black-414141);
  font: var(--font-32-bold);
}

.buttonDiv {
  display: flex;
  gap: 16px;
}

.infoDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 8px;
}

.description {
  margin-bottom: 24px;
}

.label {
  margin: 0;
  color: var(--gray-818181);
  font: var(--font-18-regular);
  margin-bottom: 8px;
}

.mainFeature {
  width: 100%;
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  background: #fff;
}

/* Tablet */
@media (max-width: 1200px) {
}

/* Mobile */
@media (max-width: 744px) {
  .titleDiv {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }


.buttonDiv {
  gap: 10px;
}
}
