.cheerTagGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
  position: relative;
}

.emojiMore {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  
  padding: 12px;
  gap: 4px;

  border-radius: 15px;
  border: 1px solid var(--gray-DDDDDD);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);

  /* top: 40px; */
  top: 115%;
  right: -5px;

  z-index: 4;
}

/* Tablet */
@media (max-width: 1200px) {
}

/* Mobile */
@media (max-width: 744px) {
  .emojiMore { 
    left: -25px;
    right: auto;
  }

}
