.playBtn {
  display: inline-flex;
  align-items: center;
  gap: 16px;

  width: 333px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  
  background: var(--brand-99C08E);
  color: var(--white);

  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;

  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
}

/* ================= Mobile (≤375px) ================= */
@media (max-width: 375px) {
  .playBtn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    width: 140px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 30.48px;

    background: var(--brand-99C08E);
    color: var(--white);

    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;

    justify-content: center;
  }

  .playBtn img {
    width: 24px;
    height: 24px;
  }
}
