.input {
  width: 648px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid var(--gray-DDDDDD, #DDD);
  background: var(--white);
  padding: 10px 12px;
  font-family: var(--font-family);
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
