.input {
  width: 100%;
  border: 1px solid var(--gray-DDDDDD);
  border-radius: 8px;
  padding: 10px 12px;
  font-family: var(--font-family);
  font-size: 16px;
  outline: none;
  background: var(--white);
  box-sizing: border-box;
}