.confirmBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  width: 600px;   /* PC 기본 */
  height: 54.953px;
  border-radius: 16px;
  background: var(--brand-99C08E);

  color: var(--white);
  text-align: center;
  font-family: var(--font-family-jeju);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  border: none;
  outline: none;
}

/* ================= Tablet (376px ~ 744px) ================= */
@media (max-width: 744px) and (min-width: 376px) {
  .confirmBtn {
    width: 288px;
    height: 54.947px;
  }
}

/* ================= Mobile (≤375px) ================= */
@media (max-width: 375px) {
  .confirmBtn {
    display: flex;
    width: 140px;
    height: 58px;
    justify-content: center;
    align-items: center;

    background: var(--brand-99C08E);

    color: var(--white);
    text-align: center;
    font-family: var(--font-family-jeju);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
