.emojiPicker {
  position: relative;
}

.emojiPickerWindow {
  /* 위치 */
  position: absolute;
  z-index: 10;
  top: 20px;
  left: -20px;
  /* 커스텀 */
  transform: scale(0.9);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}