.box{
    width: 100%;
    display: flex;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid var(--gray-gray_DDDDDD, #DDD);
    background: #FFF;
}

.titleDiv{
    width: 100%;
    height: 29px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;

    margin-bottom: 100px;
}

.titleDiv .title{
    color: var(--black-414141);
    font: var(--font-24-bold);
    line-height: 24px;
}

.wrapper{
    width: 100%;
}

.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.timerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 95.5px;
}