/* Mobile 디자인 */
/* 디폴트를 모바일로 잡았습니다. */
.studyMain{
    max-width: 1200px;

    margin: 170px auto 70px; /* 상단 GNB 공간 확보: 100px + 여유 40px */
    padding: 40px;

    border-radius: 20px;
    background: #FFF;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    user-select: none;
}

/* Tablet 디자인 */
@media (max-width: 1200px){
    .studyMain{
        margin: 140px 24px 170px; /* 상단 GNB 공간 확보 */
        padding: 24px;
    }
}

/* mobile 디자인 */
@media (max-width: 744px){
    .studyMain{
        margin: 140px 16px 32px; /* 상단 GNB 공간 확보 */
        padding: 16px;
    }
}
