.restartBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  flex-shrink: 0;

  border-radius: 50%; /* 원형 */
  border: none;
  cursor: pointer;
  padding: 0;
  background: var(--brand-99C08E);
}

.icon {
  width: 35.2px;
  height: 35.2px;
  padding: 2.2px 5.883px 4.733px 5.9px;
  object-fit: contain;
}

/* ================= Mobile (≤375px) ================= */
@media (max-width: 375px) {
  .restartBtn {
    width: 48px;
    height: 48px;
  }

  .icon {
    display: flex;
    width: 26.4px;
    height: 26.4px;
    padding: 1.65px 4.911px 4.05px 3.926px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}
