.deleteBtn {
  display: inline-flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  border-radius: 35px;
  background: var(--pink-FDE0E9);

  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}
