.habitFocusBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  width: 600px; /* PC/태블릿 기본 */
  height: 58px;
  padding: 10px;
  border-radius: 16px;
  background: var(--brand-99C08E);

  color: var(--white);
  text-align: center;
  font-family: var(--font-family-jeju);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;

  border: none;   
  outline: none;  
}

/* 376px ~ 744px: 점점 줄어드는 영역 */
@media (max-width: 744px) and (min-width: 376px) {
  .habitFocusBtn {
    width: clamp(312px, 80vw, 600px);
  }
}

/* 모바일 (≤375px) */
@media (max-width: 375px) {
  .habitFocusBtn {
    width: 312px;
  }
}
