.box{
    width: 100%;
    display: flex;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid var(--gray-gray_DDDDDD, #DDD);
    background: #FFF;

    position: relative;
    overflow: hidden;
}

.allClear::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    right: -45px;
    bottom: -50px; 
    background-image: url("../../assets/clearStamp2.png");
    /* width: 300px;
    height: 300px;
    right: -45px;
    bottom: -10px; 
    background-image: url("../../assets/allClear.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transform: rotate(5deg);
    animation: stamp 0.2s ease-in-out forwards;
}

@keyframes stamp {
  0% { width: 350px; height: 350x; }
  100% { width: 300px; height: 300px; }
}

.titleDiv{
    width: 100%;
    height: 29px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;

    margin-bottom: 24px;
}

.titleDiv .title{
    color: var(--black-414141);
    font: var(--font-24-bold);
    line-height: 24px;
}

.titleDiv button{
    position: absolute;
    
    right: 0%;
    top: 50%;
    transform: translateY(-50%);

    color: var(--gray-818181);
    font: var(--font-14-medium);
    line-height: 14px;

    border: none;
    background: none;
}

.routineWrapper{
    width: 100%;
    max-width: 400px;
}

.routineList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.none{
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--gray-818181);
    font: var(--font-18-medium);
}