.box{
    width: 100%;
    display: flex;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    border: 1px solid var(--gray-gray_DDDDDD, #DDD);
    background: #FFF;
}

.isAllClear::before{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  top: 0;
  content: "";
  background-image: url("../../../assets/goodStamp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transform: rotate(5deg);
  animation: stamp 0.2s ease-in-out forwards;
}

@keyframes stamp {
  0% { width: 80px; height: 80px; }
  100% { width: 70px; height: 70px; }
}

.titleDiv{
    width: 100%;
    height: 29px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;

    margin-bottom: 24px;
}

.titleDiv .title{
    color: var(--black-414141);
    font: var(--font-24-bold);
    line-height: 24px;
}

.titleDiv button{
    position: absolute;
    
    right: 0%;
    top: 50%;
    transform: translateY(-50%);

    color: var(--gray-818181);
    font: var(--font-14-medium);
    line-height: 14px;

    border: none;
    background: none;
}

.routineWrapper{
    width: 100%;
    max-width: 400px;
}

.routineList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}