/* ================= Font Face ================= */
@font-face {
  font-family: "Jeju-Stone-Wall";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* ================= Root Variables ================= */
:root {
  /* ================= Colors ================= */
  --black-414141: #414141;
  --gray-818181: #818181;
  --gray-DDDDDD: #dddddd;
  --gray-EEEEEE: #eeeeee;

  --bg-F6F4EF: #f6f4ef;

  --brand-99C08E: #99c08e;

  --error-C41013: #c41013;
  --red-F50E0E: #f50e0e;
  --error-bg-FFA3A5: #ffa3a5;

  --green-E1EDDE: #e1edde;
  --yellow-FFF1CC: #fff1cc;
  --blue-E0F1F5: #e0f1f5;
  --pink-FDE0E9: #fde0e9;

  --green-text-578246: #578246;
  --yellow-text-C18E1B: #c18e1b;
  --blue-text-418099: #418099;
  --pink-text-BC3C6A: #bc3c6a;
  --white-FFFFFF: #fff;
  --white: #fff;

  /* ================= Font Families ================= */
  --font-family: "Pretendard", sans-serif;
  --font-family-jeju: "Jeju-Stone-Wall", sans-serif;

  /* ================= Font Sizes ================= */
  --font-32-bold: 700 32px / normal var(--font-family);
  --font-28-bold: 800 28px / normal var(--font-family);
  --font-24-bold: 700 24px / normal var(--font-family);
  --font-20-bold: 700 20px / normal var(--font-family);
  --font-20-medium: 500 20px / normal var(--font-family);

  --font-18-bold: 700 18px / normal var(--font-family);
  --font-18-medium: 500 18px / normal var(--font-family);
  --font-18-regular: 400 18px / normal var(--font-family);

  --font-16-bold: 700 16px / normal var(--font-family);
  --font-16-medium: 500 16px / normal var(--font-family);
  --font-16-regular: 400 16px / normal var(--font-family);

  --font-14-bold: 700 14px / normal var(--font-family);
  --font-14-medium: 500 14px / normal var(--font-family);
  --font-14-regular: 400 14px / normal var(--font-family);

  --font-12-bold: 700 12px / normal var(--font-family);
  --font-12-medium: 500 12px / normal var(--font-family);
  --font-12-regular: 400 12px / normal var(--font-family);

  --font-10-bold: 700 10px / normal var(--font-family);
  --font-10-medium: 500 10px / normal var(--font-family);
  --font-10-regular: 400 10px / normal var(--font-family);

  /* Large Titles */
  --font-150-bold: 700 150px / normal var(--font-family);
  --font-120-bold: 700 120px / normal var(--font-family);
  --font-80-bold: 700 80px / normal var(--font-family);
}

/* ================= Global Styles ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-style: normal;
  line-height: normal;
}

body {
  background-color: #f6f4ef;
}
ol, ul , li{
	list-style: none;
}
a {
  text-decoration: none;
}

section {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #fff;
}

/* 숫자 인풋 스핀 버튼 제거 - 타이머 관련 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}