.authModal{
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.title {
  color: var(--black-414141);
  font: var(--font-24-bold);
  text-align: center;
}

.content {
  color: var(--gray-818181);
  font: var(--font-18-medium);
  text-align: center;
  margin: 28px 0;
}

.exit {
  color: var(--green-text-578246);
  font: var(--font-16-medium);
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* Tablet */
@media (max-width: 1200px) {
}

/* Mobile */
@media (max-width: 744px) {
  .authModal {
    margin-bottom: 16px;
  }

  .content{
    margin: 24px 0 20px 0;
  }
  .exit {
    top: 4px;
  }
}
