.utilityBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  
  max-width: 1120px;
  width: 100%;
}

.emojiBox {
  display: flex;
  gap: 8px;
  position: relative;
}

.quickLinks {
  display: flex;
  gap: 16px;
}
