.utilityBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;

  max-width: 1120px;
  width: 100%;
}

.emojiBox {
  display: flex;
  gap: 8px;
  position: relative;
}

.quickLinks {
  display: flex;
  align-items: center;
  gap: 19px;
}

.quickLinks span {
  color: var(--green-text-578246);
  font: var(--font-16-medium);
  text-align: center;
  position: relative;
  cursor: pointer;
}
.quickLinks span:nth-child(even) {
  cursor: auto;
}
.quickLinks .delete {
  color: var(--gray-818181);
}

/* Tablet */
@media (max-width: 1200px) {
}

/* Mobile */
@media (max-width: 744px) {
  .utilityBar {
    flex-direction: column-reverse;
    align-content: stretch;
  }
  .emojiBox {
    margin-top: 16px;
  }
  .quickLinks {
    justify-content: flex-end;
  }
}
