.textarea {
  width: 648px;           
  height: 98px;          
  border: 1px solid var(--gray-DDDDDD, #DDD);
  border-radius: 15px;    
  padding: 12px;          
  font-family: var(--font-family);
  font-size: 16px;
  outline: none;
  background: var(--white);       
  resize: none;
  line-height: 1.5;
  box-sizing: border-box;
}

/* 오류 있을 때 빨간 테두리 */
.errorTextarea {
  border-color: red;
}

.label {
  margin-bottom: 16px;
}

.errorMessage {
  font-size: 0.875rem;
  color: red;
  margin-top: 0.5rem;
}
